.light, .light *{
  background: gainsboro;
  color: black;
  font-family: serif;
}

.light input{
  background-color: rgb(152, 149, 149);
  color: rgb(4, 4, 4);
}


.dark, .dark *{
  background-color: darkslategrey;
  color: lightgray;
}

.dark input{
  background-color:slategray;
  color: whitesmoke;
}

.display h1{
  font-weight: bold;
  font-size: larger;
  margin-left: 90%;
}

.list:has(.done:checked) h2{
  text-decoration: line-through;
  opacity: 0.2;
  color: rgb(20, 18, 15);
}